* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #e6e6fa;
}

#sidebar {
    background-color: #9370db;
    width: 250px;
    height: 100vh;
    position: fixed;
    padding: 20px;
}

#sidebar ul {
    list-style: none;
}

#sidebar ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 8px 16px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#sidebar ul li a:hover {
    background-color: #b0a4e3;
}

#content {
    margin-left: 250px;
    padding: 20px;
}

h1, h2 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

.major-section {
    display: none;
}

.chart-container {
    width: 30%; /* Adjust this value to change the chart width */
    height: 30%; /* Adjust this value to change the chart height */
}
